# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env
.env
config.yml

# Dist
dist/
typings/

# Data
*-volume/
*-data/

# Miscellaneous
.tmp/
coverage/
data/
*-model.*

# Testing
testing*.*