# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env
.env
config.yml

# Dist
dist/
typings/

# Data
*-volume/
*-data/

# Miscellaneous
.tmp/
coverage/
data/

# Testing
testing*.*

# yarn https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions